main::-webkit-scrollbar {
    display: none;
  }

.wrapper-box {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr); /* Adjust columns for fixed-width */
    grid-auto-columns: min-content; /* Prevent stretching */
    grid-auto-rows: min-content;
  }
  
  .box {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  }
  
  .a {
    grid-column: 1 / 3;
    grid-row: 2;
  }
  .b {
    grid-column: 3;
    grid-row: 1 / 3;
  }
  .c {
    grid-column: 1;
    grid-row: 1;
  }
  .d {
    grid-column: 2;
    grid-row: 1;
    padding: 15px;
  }
  